#----------[ DIRECTORIES ]----------#
build
linux
#-----------------------------------#

#----------[ EXTENSIONS ]----------#
*.bat
*.txt
!CMakeLists.txt
#----------------------------------#

#----------[ FILES ]----------#
.clang-format
#-----------------------------#