#----------[ DIRECTORIES ]----------#
build
linux
.vscode
#-----------------------------------#

#----------[ EXTENSIONS ]----------#
*.bat
*.txt
!CMakeLists.txt
#----------------------------------#

#----------[ FILES ]----------#
.clang-format
#-----------------------------#